@import '../reusables';

.main {
  @include sectionPadding;
  padding-top: 80px;
  padding-bottom: 80px;

  h2 {
    text-align: center;
    font-size: 32px;
    color: #6f6f6f;
    margin-bottom: 20px;
  }
  p {
    max-width: 473px;
    margin: 0 auto;
    font-size: 16px;
    color: #1e1e1e;
    margin-bottom: 50px;
    text-align: center;
  }

  .controllerSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 2rem;
    .arrow {
      transform: translateY(30px);
      svg {
        background-color: #2c7865;
        padding: 14px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
      }
    }

    .controller {
      overflow-x: auto;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }
      .tab {
        display: flex;
        gap: 50px;
        margin-bottom: 60px;

        span {
          color: #828282;
          font-size: 16px;
          cursor: pointer;
        }

        .activeTab {
          color: #90d26d;
          border-bottom: 2px solid #90d26d;
          padding-bottom: 6px;
        }
      }

      .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        gap: 20px;
        width: 100%;

        // @include smallLaptop {
        //   grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        // }
        @include bigTablet {
          display: flex;
          width: 100%;
        }
        @include tablet {
          display: flex;
          width: 100%;
        }

        .card {
          display: flex;
          flex-direction: column;
          width: 100%;
          .images {
            position: relative;
            border-radius: 22px;
            height: 206px;
            margin-bottom: 20px;
            // width: 300px;
            @include bigTablet {
              width: 300px;
            }
            @include tablet {
              width: 300px;
            }
            img {
              object-fit: cover;
              border-radius: 22px !important;
              width: 100%;
            }
          }
          span {
            color: #828282;
            font-size: 16px;
            margin-bottom: 7px;
            white-space: wrap;
          }

          h4 {
            font-weight: 500;
            font-size: 16px;
            color: #1e1e1e;
          }
        }
      }
    }
  }

  .btn {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #2c7865;
    border: 1px solid #2c7865;
    padding: 20px 26px;
    cursor: pointer;
    background-color: transparent;
    margin: 0 auto;
    border-radius: 35px;
    width: fit-content;
    text-align: center;
  }
}
