@import '../styles/reusables';

.main {
  @include sectionPadding;
//   padding-top: 93px;
  padding-bottom: 100px;

  .contents {
    .fieldContainer {
      margin-bottom: 40px;
      width: fit-content;
      min-width: 400px;
      background-color: #fff;
      border-radius: 42px;
      border: 1px solid #828282;
      display: flex;
      align-items: center;
      gap: 9px;
      padding: 10px;

      @include tablet{
        width: 100%;
        min-width: 0;
      }

      svg {
        width: 13px;
        height: 13px;
      }

      input {
        width: 100%;
        outline: none;
        color: #000;
        border: none;
        background-color: transparent;

        &::placeholder {
          color: #828282;
        }
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
      gap: 32px;

      @include bigTablet {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      }

      @include tablet {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      .card {
        .image {
          position: relative;
          height: 206px;
          margin-bottom: 20px;

          @include tablet {
            width: 100%;
          }

          img {
            object-fit: cover;
            border-radius: 22px !important;
          }
        }
    //     p {
    //       color: #828282;
    //       font-size: 18px;
    //       margin-bottom: 7px;
    //     }

    //     h4 {
    //       font-size: 16px;
    //       color: #1e1e1e;
    //     }
    //   }
    }
}
  }
}
