@import '../../styles/reusables';

.main {
  @include sectionPadding;
  //   padding-top: 93px;
  padding-bottom: 100px;

  @include tablet {
    padding-bottom: 100px;
    padding-top: 40px;
  }

  .storeInfo {
    display: flex;
    border-radius: 20px;
    padding: 40px 30px;
    gap: 50px;
    background-color: #ecf8f5;
    margin-bottom: 46px;

    @include tablet {
      flex-direction: column;
      padding: 14px 16px;
    }

    .storelhs {
      display: flex;
      flex-basis: 50%;
      gap: 9px;
      transform: translateY(10px);

      @include tablet {
        flex-basis: 100%;
      }

      .icon {
        svg {
          background-color: #2c7865;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          padding: 13px;
        }
      }
    }

    .ratings {
      //   padding: 22px 40px;
      flex-basis: 50%;

      @include tablet {
        flex-basis: 100%;
      }

      .rating {
        display: flex;
        gap: 30px;

        @include tablet {
          flex-direction: column;
        }

        .average {
          background-color: #ffffff;
          border-radius: 12px;
          padding: 50px;
          text-align: center;

          @include tablet {
            background-color: transparent;
            text-align: left;
            padding: 0;
          }
          > h4 {
            color: #2c7865;
            font-size: 16px;
            font-weight: 700;
          }
        }

        .ratingProgress {
          width: 70%;

          @include tablet {
            width: 100%;
          }
          .value {
            display: flex;
            gap: 30px;
            > p {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              gap: 6px;

              span {
              }
            }

            .progress {
              height: 5px;
              flex: 1 1 0;
              transform: translateY(10px);
              border-radius: 0.5rem;
              background-color: #d9d9d9;

              .bar {
                height: 100%;
                background-color: #2c7865;
                // border-radius: 0.5rem !important;
              }
            }

            .rangeValue {
              font-size: 12px;
              color: #828282;
            }
          }
        }
      }
    }
  }

  .tab {
    display: flex;
    gap: 47px;
    .lhs {
      flex: 1;

      @include tablet {
        display: none;
      }
    }
    .rhs {
      flex: 3.5;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include tablet {
        overflow-x: auto;

        &::-webkit-scrollbar {
          display: none;
        //   scrollbar-width: thin;
        }
      }

      .search {
        display: flex;
        border-radius: 42px;
        border: 1px solid #828282;
        max-width: 500px;
        align-items: center;
        gap: 10px;
        padding: 9px 20px;

        svg {
          width: 16px;
          height: 16px;
        }

        input {
          width: 100%;
          outline: none;
          border: none;
          background-color: transparent;
          font-size: 16px;

          ::placeholder {
            color: #828282;
            font-size: 14px;
          }
        }
      }
      .tabSection {
        display: flex;
        align-items: center;
        gap: 40px;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 500;
        height: 47px;
        transition: all 0.5s ease-in-out;
        color: #6f6f6f;
        position: relative;
        margin-bottom: 10px;

        span {
          cursor: pointer;
        }

        .active {
          color: #2c7865;
          border-bottom: 2px solid #2c7865;
          cursor: pointer;
        }
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 32px;

    @include bigTablet {
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .card {
      .image {
        position: relative;
        // width: 261px;
        height: 206px;
        margin-bottom: 20px;

        @include tablet {
          width: 100%;
        }

        img {
          object-fit: cover;
          border-radius: 22px !important;
        }
      }
      p {
        color: #828282;
        font-size: 18px;
      }

      h4 {
        font-size: 18px;
        color: #1e1e1e;
        font-weight: 600;

      }
    }
  }
}
