@import '../../styles/reusables';

@mixin modalBumpInAnimation {
  animation: modalBumpIn 400ms cubic-bezier(0.97, -0.18, 0.27, 1.55);

  @keyframes modalBumpIn {
    from {
      transform: translateY(3rem);
      opacity: 0;
    }
  }
}

.navbarContainer {
  @include sectionPadding;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #ffffff;

  &.scrolled {
    background-color: #d9edbf;
  }

  .navContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

    .logo {
      img {
        width: 115px;
        height: 25px;
        object-fit: cover;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 40px;
      li {
        color: #6f6f6f;
        font-size: 14px;
      }

      .dropdown {
        position: relative;
        li {
          color: #6f6f6f;
          font-size: 14px;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 5px;
        }
        .dropdownContainer {
          background-color: #fff;
          position: absolute;
          top: 35px;
          right: 0;
          z-index: 3;
          height: 400px;
          @include modalBumpInAnimation();
          border-radius: 5px;
          display: flex;

          .lhs {
            background-color: #fff;
            display: grid;
            gap: 50px;
            grid-template-columns: repeat(4, 1fr);
            padding: 25px;
            .category {
              display: flex;
              flex-direction: column;
              gap: 6px;
              h3 {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 5px;
                color: #6f6f6f;
              }
            }

            li {
              font-size: 14px;
              font-weight: 400;
              color: #828282;
            }
          }

          .rhs {
            flex: 1;
            width: 100%;
            height: 100%;
            img {
              max-width: 300px;
              height: 400px;
              object-fit: cover;
            }
          }
        }
      }

      .login {
        color: #2c7865;
        font-size: 14px;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
      .signup {
        @include smallButton;
      }

      .cart {
        display: flex;
        align-items: center;
        gap: 10px;

        .cartIcon {
          display: flex;
          position: relative;

          span {
            position: absolute;
            background-color: #828282;
            color: #fff;
            padding: 0 4px;
            border-radius: 50%;
            font-size: 12px;
            top: -4px;
            left: 12px;
          }
        }

        h4 {
          color: #828282;
          font-size: 16px;
          font-weight: 400;
        }
      }

      .dropDownInfo {
        @include smallButton;
        position: relative;
        span {
          display: flex;
          align-items: center;
          gap: 7px;

          svg {
            path {
              fill: #fff;
            }
          }
        }
      }

      .loginDropdownContainer {
        background-color: #fff;
        position: absolute;
        top: 80px;
        // left: 0;
        // width: fit-content;
        right: 80px;
        z-index: 3;
        // height: 400px;
        @include modalBumpInAnimation();
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 18px;
        gap: 18px;

        a {
          color: #6f6f6f;
        }
      }
    }
  }
}
