@import '../styles/reusables';

.main {
  padding-top: 83px;
  padding-bottom: 100px;
  .heroSection {
    .backgroundImage {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        min-height: 500px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .contents {
        position: absolute;
        color: #fff;
        @include bigTablet {
          padding: 0 20px;
        }
        h1 {
          font-size: 48px;
          font-weight: 900;
          text-align: center;
          margin-bottom: 20px;

          @include bigTablet {
            font-size: 30px;
          }
        }
        .cards {
          display: flex;
          gap: 22px;
          .contact {
            background-color: rgba(255, 255, 255, 0.13);
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
            text-align: center;
            padding: 30px 70px;
            border-radius: 12px;
            font-size: 15px;

            @include bigTablet {
              padding: 20px 50px;
            }

            h3 {
              font-size: 16px;
              font-weight: 600;
            }

            p {
              max-width: 291px;
              margin: 0 auto;
              line-height: 17px;
            }

            button {
              color: #fd6a02;
              font-weight: 700;
              cursor: pointer;
              border: none;
              background-color: transparent;
            }
          }
          .returnContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .return {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              padding: 22px 100px;
              border-radius: 12px;
              cursor: pointer;
              background-color: rgba(255, 255, 255, 0.13);

              @include bigTablet {
                padding: 20px 50px;
              }
            }
          }
        }
      }
    }
  }

  .faqContents {
    padding-top: 100px;
    @include sectionPadding;
    display: flex;
    gap: 70px;

    .lhs {
      flex: 1;
      background-color: #ecf8f5;
      border-radius: 13px;
      padding: 18px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 400;
          color: #1e1e1e;
          font-size: 16px;
        }

        span {
          svg {
            cursor: pointer;
          }
        }
      }

      .item {
        color: #828282;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
        width: fit-content;
      }
    }

    .rhs {
      flex: 3;
    }
  }
}
